body{
    background-color: rgb(42, 114, 165);
}

#logo{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-template-rows: repeat(1, 1fr);
}

#artwork{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-rows: repeat(2, 1fr);

}

.grid_child{
    border: solid black .5px;
    padding: 5px
}

